*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-one {
  display: flex;
  height: 100vh
}

.left {
  background-color: #040b15;
  color: #aaa;
  width: 280px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  flex: 0 0 auto;
}

.left .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & img {
    border-radius: 50%;
  }

  & h2 {
    font-size: 1.5rem;
    color: #fff;
  }

  & .social-icons {
    display: flex;
    gap: 1rem;

    & svg {
      border-radius: 50%;
      border: 4px solid #aaa;
      
    }

    & svg:hover {
      cursor: pointer;
    }
  }
}

.left nav {
  display: flex;
  justify-content: flex-start;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    padding: 0;

    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 4px;
      color: #aaa;
    }

    & a:hover {
      color: royalblue
    }
  }

  & svg {
    height: auto;
    width: 20px;
  }

}

.left footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d2c9c9;

  & p:nth-child(2) {
    font-size: 12px;

    & span:nth-child(1) {
      color: royalblue;
    }
  }

  & span:nth-child(1) {
    font-weight: 700;
    color: #fff
  }  
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  min-width: 900px;
}

.right .description {
  & h1 {
    border-bottom: 4px solid royalblue;
    width: 8%;
    color: #4e0af9;
    padding: 1rem 0;
  }
}

.right .info {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  & h1 {
    color: #4e0af9;
  }

  & img {
    border: none;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    & li {
      background-color: #fff;
      flex: 0 0 50%;
    }

    & span:nth-child(1) {
      color: royalblue
    }

    & span:nth-child(2) {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 800px){
  .container-one {
    flex-direction: column;
    width: 400px;
  }

  .left {
    width: 100%;
  }

  .right {
    flex-direction: column;
    width: 100%;

    & .description {
      display: flex;
      flex-direction: column;
      width: 400px;
    }

    & .info {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      & .title {
        width: 380px;
      }

      & ul li {
        flex: 0 0 100%;
      }

      & .background-info {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      & .background-info > p {
        width: 380px;
      }

    }
  }
}
